*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    line-height: 1,6;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header{
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

.container {
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}

.main {
    width: 70%;
}

.sidebar {
    background: #ddd;
    width: 30%;
    padding: 10px;
    box-sizing: border-box;
}

.anime-list {
    margin-bottom: 20px;
    overflow-y: auto;
}


